<!DOCTYPE web-app PUBLIC
 "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
 "http://java.sun.com/dtd/web-app_2_3.dtd" >

<web-app>
  <display-name>Archetype Created Web Application</display-name>

    <servlet>
    	<servlet-name>Home</servlet-name>
    	<display-name>Home</display-name>
    	<description></description>
    	<servlet-class>general.Home</servlet-class>
    </servlet>
    <servlet>
    	<servlet-name>AddFoodstuff</servlet-name>
    	<display-name>AddFoodstuff</display-name>
    	<description></description>
    	<servlet-class>general.AddFoodstuff</servlet-class>
    </servlet>
    <servlet>
    	<servlet-name>EditFoodstuff</servlet-name>
    	<display-name>EditFoodstuff</display-name>
    	<description></description>
    	<servlet-class>general.EditFoodstuff</servlet-class>
    </servlet>

    <servlet-mapping>
    	<servlet-name>Home</servlet-name>
    	<url-pattern>/Home</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
    	<servlet-name>AddFoodstuff</servlet-name>
    	<url-pattern>/AddFoodstuff</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
    	<servlet-name>EditFoodstuff</servlet-name>
    	<url-pattern>/EditFoodstuff</url-pattern>
    </servlet-mapping>
</web-app>
